# exclude IDE specific files
/.idea/

# exclude package manager files
/vendor/

# exclude built zip distributions
/*.zip

# exclude PHPUnit caches
/.phpunit.cache/
/.phpunit.result.cache

# exclude local PHPUnit overrides
/phpunit.xml
/phpunit-integration.xml
