name: Wordpress Plugin Check
on:
  push:
    branches: [ main ]
  pull_request:

jobs:
  plugin-check:
    name: Check Wordpress Plugin
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: '8.5'
          tools: composer
          coverage: none

      - name: Install Dependencies
        run: composer install --no-interaction --no-progress --prefer-dist

      - name: Build package
        run: |
          composer run package dev
          mkdir -p build
          cp mittwald-ai-provider.dev.zip build/mittwald-ai-provider.zip

      - name: Setup DDEV
        uses: ddev/github-action-setup-ddev@v1
        with:
          ddevDir: build
          autostart: 'false'

      - name: Setup project
        working-directory: build
        run: |
          ddev config --project-type=wordpress
          ddev start
          ddev wp core download
          ddev wp core install --url='$DDEV_PRIMARY_URL' --title='My WordPress site' --admin_user=admin --admin_password=admin --admin_email=admin@example.com
          ddev wp plugin install plugin-check --activate
          ddev wp plugin install ai --activate
          ddev wp plugin install /var/www/html/mittwald-ai-provider.zip --activate

      - name: Run Plugin Check
        working-directory: build
        run: |
          ddev wp plugin check mittwald-ai-provider --format=strict-csv --exclude-checks=i18n_usage
          test $(ddev wp plugin check mittwald-ai-provider --format=strict-csv --exclude-checks=i18n_usage | wc -l) -eq 1